<div id="hero" class="re">
    <div class="container-lg container-fluid">
        <div
            class="content mx-auto text-center justify-content-center d-flex flex-column align-items-center justify-content-center py-5 px-3">
            <div class="badge px-3 py-2 rounded-pill">
                <span></span>
                <span></span>
                <span>مرحباً بك في عدسة</span>
            </div>
            <div class="words">
                <h1>اكتشف <span>فن</span> <br />
                    التصوير الفوتوغرافي</h1>

                <p class="mt-4">انغمس في أسرار المحترفين ونصائح عملية لتطوير
                    مهاراتك في
                    <br />
                    التصوير.</p>
            </div>
            <div
                class="buttons d-flex justify-content-center align-items-center gap-4">
                <a type="button"
                    class="explore btn rounded-pill px-4 py-3 w-100 border-0 d-flex justify-content-center align-items-center gap-2">
                    <p class="mb-0">استكشف
                        المقالات </p>
                    <i class="fa-solid fa-arrow-left"></i>
                </a>
                <a type="button"
                    class="learn-more btn rounded-pill px-4 py-3 w-100 border-0 d-flex justify-content-center align-items-center gap-2">
                    <i class="fa-regular fa-clock"></i>
                    <p class="mb-0">
                        اعرف المزيد
                    </p>
                </a>
            </div>
            <div class="stats mt-4">
                <div class="row g-4">

                    <div class="col-6 col-md-3 col-lg-3">
                        <div
                            class="item d-flex flex-column px-5 py-4 text-center align-items-center rounded-5 gap-2">
                            <i class="fa-solid fa-newspaper"></i>
                            <h2 class="mb-0">50+</h2>
                            <p class="mb-0">مقالة</p>
                        </div>
                    </div>

                    <div class="col-6 col-md-3 col-lg-3">
                        <div
                            class="item d-flex flex-column px-5 py-4 text-center align-items-center rounded-5 gap-2">
                            <i class="fa-solid fa-users"></i>
                            <h2 class="mb-0">+10ألف</h2>
                            <p class="mb-0">قارئ</p>
                        </div>
                    </div>

                    <div class="col-6 col-md-3 col-lg-3">
                        <div
                            class="item d-flex flex-column px-5 py-4 text-center align-items-center rounded-5 gap-2">
                            <i class="fa-solid fa-folder-open"></i>
                            <h2 class="mb-0">4</h2>
                            <p class="mb-0">تصنيفات</p>
                        </div>
                    </div>

                    <div class="col-6 col-md-3 col-lg-3">
                        <div
                            class="item d-flex flex-column px-5 py-4 text-center align-items-center rounded-5 gap-2">
                            <i class="fa-solid fa-pen-nib"></i>
                            <h2 class="mb-0">6</h2>
                            <p class="mb-0">كاتب</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="glow1 position-absolute rounded-circle"></div>
    <div class="glow2 position-absolute rounded-circle"></div>
</div>