<nav class="navbar navbar-expand-lg navbar-light py-3">
    <div class="container justify-content-around">
        <div class="head d-flex justify-content-between w-100">
            <div class="d-flex align-items-center">
                <div class="image-holder">
                    <img src="./assets/Images/logo-GdqARQRt.png" class="w-100"
                        alt="logo">
                </div>
                <a class="navbar-brand p-0 text-white" href="#">عدسة</a>
            </div>
            <button class="navbar-toggler btn-outline-none" type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false"
                aria-label="Toggle navigation">
                <i class="fa-solid fa-bars text-white"></i>
            </button>
        </div>
        <div
            class="collapse navbar-collapse justify-content-center py-4 px-2 mt-3 mt-lg-0 py-lg-0 px-lg-0"
            id="navbarNavDropdown">
            <ul
                class="navbar-nav px-5 py-2 d-flex align-items-center justify-content-around rounded-5">
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active"
                        aria-current="page"
                        routerLink="/">الرئيسية</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active"
                        routerLink="/blog">المدونة</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active"
                        routerLink="/about">من
                        نحن</a>
                </li>
            </ul>
            <div
                class="left-side d-flex d-lg-none align-items-center gap-3 w-100">
                <i
                    class="fa-solid fa-magnifying-glass text-white d-none d-lg-block"></i>
                <a type="button"
                    class="btn btn-primary rounded-pill px-4 py-2 w-100 border-0">ابدأ
                    القراءة</a>
            </div>
        </div>
        <div
            class="left-side d-none d-lg-flex align-items-center gap-3 w-25">
            <i class="fa-solid fa-magnifying-glass"></i>
            <a type="button"
                class="btn btn-primary rounded-pill px-4 py-3 border-0">ابدأ
                القراءة</a>
        </div>
    </div>
</nav>